<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/project.css" />
</head>

  <body>
      <main>
        <h1>Contact Us</h1>
        <p>Here you can find our contact information</p>
        <br>
        <div id="dec1">
          <p> Lorem Ipsum</p>
          <p>Lorem ipsumlorem ipsumlorem ipsum @gmail</p>
        </div>
        <div id="dec2">
          <p> Lorem Ipsum</p>
          <p>Lorem ipsumlorem ipsumlorem ipsum @gmail</p>
        </div>
        <div id="dec3">
          <p> Lorem Ipsum</p>
          <p>Lorem ipsumlorem ipsumlorem ipsum @gmail</p>
        </div>
        <%- include ('layouts/footer') -%>
      </main>
  </body>
</html>

        